<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.altera.sbtgui.launch.modelsim.Nios2ModelsimLaunchConfiguration">
<stringAttribute key="elfFile" value="E:\study\Labs\Verify\qlab59\software\qlab5\qlab5.elf"/>
<stringAttribute key="modelSimPath" value="C:\altera\12.1sp1\modelsim_ase\win32aloem"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_ID" value="com.altera.debug.cdi.gdb.plugin.Nios2GdbCdiDebugger"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="qlab5.elf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="qlab5"/>
<stringAttribute key="spdPath" value="E:\study\Labs\Verify\qlab59\qlab5_sys_tb.spd"/>
</launchConfiguration>
